
{% extends "JNiDefaultBundle::layout.html.twig" %}

{% block background %}
	<div class="background-ticketing">
{% endblock %}

{% block title %}
 	Billetterie - {{ parent() }}
{% endblock %}

{% block nav %}
	<div class="header-title">
		<h1>Billetterie </h1>
	</div>
{% endblock %}

{% block thread %}
	<div class="col-xs-12 thread">
		<p>
			<a href="{{ path('jni_default_home') }}" class="thread-item thread-item-home" alt="Accueil du Musée du Louvre"><img src="/img/home_crumb.png" /></a>
			{% for route, text in thread %}
			<a href="{{ route }}" class="thread-item thread-item-separator">{{ text }}</a>
			{% endfor %}
		</p>
	</div>	
{% endblock %}

{% block body %}
		{% block bodyContent %}
		{% endblock %}
{% endblock %}

{% block asideRight %}
{% endblock %}