{# src/JNi/DefaultBundle/Resources/views/Default/index.html.twig #}

{% extends "JNiDefaultBundle::layout.html.twig" %}

{% block title %}
 	Accueil - {{ parent() }}
{% endblock %}

{% block carousel %}
	{{ include("JNiDefaultBundle:Home:carousel.html.twig") }}
{% endblock %}

{% block body %}
	<div class="welcome-block container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<a href="#">
					<div class="block-img-home img-01"></div>
					Découvrez l'art de la scupture à travers les âges
				</a>
			</div>
			<div class="col-sm-4">
				<a href="{{ path('jni_ticketing_home') }}">
					<div class="block-img-home img-ticketing"></div>
					Commandez vos billets d'entrée
				</a>
			</div>
			<div class="col-sm-4">
				<a href="#">
					<div class="block-img-home img-02"></div>
					Déchiffrez les secrets de l'Egypte antique
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<a href="#">
					<div class="block-img-home img-03"></div>
					La Joconde, pourquoi est-ce un chef d'oeuvre ?
				</a>
			</div>
			<div class="col-sm-4">
				<a href="#">
					<div class="block-img-home img-11"></div>
					La peinture dans toute ses époques
				</a>
			</div>
			<div class="col-sm-4">
				<a href="#">
					<div class="block-img-home img-13"></div>
					L'art de la renaissance
				</a>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="home-content text-justify">
			<p>
			Fuerit toto in consulatu sine provincia, cui fuerit, antequam designatus est, decreta provincia. Sortietur an non? Nam et non sortiri absurdum est, et, quod sortitus sis, non habere. Proficiscetur paludatus? Quo? Quo pervenire ante certam diem non licebit. ianuario, Februario, provinciam non habebit; Kalendis ei denique Martiis nascetur repente provincia.
			</p>
			<p>
			Erat autem diritatis eius hoc quoque indicium nec obscurum nec latens, quod ludicris cruentis delectabatur et in circo sex vel septem aliquotiens vetitis certaminibus pugilum vicissim se concidentium perfusorumque sanguine specie ut lucratus ingentia laetabatur.
			</p>
			<p>
			Quare hoc quidem praeceptum, cuiuscumque est, ad tollendam amicitiam valet; illud potius praecipiendum fuit, ut eam diligentiam adhiberemus in amicitiis comparandis, ut ne quando amare inciperemus eum, quem aliquando odisse possemus. Quin etiam si minus felices in diligendo fuissemus, ferendum id Scipio potius quam inimicitiarum tempus cogitandum putabat.
			</p>
			<p>
			Inter has ruinarum varietates a Nisibi quam tuebatur accitus Vrsicinus, cui nos obsecuturos iunxerat imperiale praeceptum, dispicere litis exitialis certamina cogebatur abnuens et reclamans, adulatorum oblatrantibus turmis, bellicosus sane milesque semper et militum ductor sed forensibus iurgiis longe discretus, qui metu sui discriminis anxius cum accusatores quaesitoresque subditivos sibi consociatos ex isdem foveis cerneret emergentes, quae clam palamve agitabantur, occultis Constantium litteris edocebat inplorans subsidia, quorum metu tumor notissimus Caesaris exhalaret.
			</p>
			<p>
			Et quoniam inedia gravi adflictabantur, locum petivere Paleas nomine, vergentem in mare, valido muro firmatum, ubi conduntur nunc usque commeatus distribui militibus omne latus Isauriae defendentibus adsueti. circumstetere igitur hoc munimentum per triduum et trinoctium et cum neque adclivitas ipsa sine discrimine adiri letali, nec cuniculis quicquam geri posset, nec procederet ullum obsidionale commentum, maesti excedunt postrema vi subigente maiora viribus adgressuri.
			</p>
			<p>
			Victus universis caro ferina est lactisque abundans copia qua sustentantur, et herbae multiplices et siquae alites capi per aucupium possint, et plerosque mos vidimus frumenti usum et vini penitus ignorantes.
			</p>
			<p>
			Raptim igitur properantes ut motus sui rumores celeritate nimia praevenirent, vigore corporum ac levitate confisi per flexuosas semitas ad summitates collium tardius evadebant. et cum superatis difficultatibus arduis ad supercilia venissent fluvii Melanis alti et verticosi, qui pro muro tuetur accolas circumfusus, augente nocte adulta terrorem quievere paulisper lucem opperientes. arbitrabantur enim nullo inpediente transgressi inopino adcursu adposita quaeque vastare, sed in cassum labores pertulere gravissimos.
			</p>
			<p>
			Advenit post multos Scudilo Scutariorum tribunus velamento subagrestis ingenii persuasionis opifex callidus. qui eum adulabili sermone seriis admixto solus omnium proficisci pellexit vultu adsimulato saepius replicando quod flagrantibus votis eum videre frater cuperet patruelis, siquid per inprudentiam gestum est remissurus ut mitis et clemens, participemque eum suae maiestatis adscisceret, futurum laborum quoque socium, quos Arctoae provinciae diu fessae poscebant.
			</p>
			<p>
			Nam sole orto magnitudine angusti gurgitis sed profundi a transitu arcebantur et dum piscatorios quaerunt lenunculos vel innare temere contextis cratibus parant, effusae legiones, quae hiemabant tunc apud Siden, isdem impetu occurrere veloci. et signis prope ripam locatis ad manus comminus conserendas denseta scutorum conpage semet scientissime praestruebant, ausos quoque aliquos fiducia nandi vel cavatis arborum truncis amnem permeare latenter facillime trucidarunt.
			</p>
			<p>
			Vide, quantum, inquam, fallare, Torquate. oratio me istius philosophi non offendit; nam et complectitur verbis, quod vult, et dicit plane, quod intellegam; et tamen ego a philosopho, si afferat eloquentiam, non asperner, si non habeat, non admodum flagitem. re mihi non aeque satisfacit, et quidem locis pluribus. sed quot homines, tot sententiae; falli igitur possumus.
			</p>
		</div>
	</div>
{% endblock %}