{# src/JNi/DefaultBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Musée du Louvre{% endblock %}</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

    {% block stylesheets %}
      {# CDN CSS Bootsrap 3.3.7 #}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="/files/style.css">
    {% endblock %}
  </head>

  <body>

    <div class="container page-container">

      {% block header %}
        <header class="row">
          <div class="col-xs-12">
            <img src="/img/logo-h50.png" class="img-responsive" alt="Musée du Louvre" />
          </div>
        </header>
      {% endblock %}


      {% block nav %}
        <nav class="row">
          <div class="col-xs-12">
            <ul class="nav nav-pills">
              <li role="presentation"><a href="{{ path('jni_default_home') }}">Accueil</a></li>
              <li role="presentation"><a href="{{ path('jni_ticketing_home') }}">Billetterie</a></li>
            </ul>  
          </div>      
        </nav>
      {% endblock %}

      <section class="row block-body">
      {% block body %}
      
      {% endblock %}
      </section>


      {% block footer %}
        <footer class="row">
          <div class="col-xs-12">
            <p class="text-center">Musée du Louvre - Paris © {{ 'now'|date('Y') }}</p>
          </div>
        </footer>
      {% endblock %}

    </div>

    {% block javascripts %}
      {# CDN JQUERY 3.2.1 #}
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
      {# CDN JS Bootstrap 3.3.7 #}
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      {# visitors form Manager jQuery #}
      <script src="/files/visitorFormManager.js"></script>
    {% endblock %}

  </body>
</html>
