/**
 * Colors
 * //\\//\\//\\//\\//\\
 * bleu ciel 	#23c0d7
 * orange 		#c82d00 // light #ff511e;
 * gris header/footer 	#222
 * gris titre 	#4e4e4e
 * background bill. 	#331107
 * DELETED --
 * background-color: #171814;
 * background-color: #272822;
 */

/**
 * //\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\
 * Bootstrap overrides
 * //\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\
 */
.row {
	margin-left: 0px;
	margin-right: 0px;
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.container {
		max-width: 850px; /* original : 970px; */
	}
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.container {
		max-width: 850px; /* original : 1170px; */
	}
}
.alert-info {
    color: #222;
    background-color: #eee;
    border-color: #ccc;
}


/**
 * //\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\
 * Font styles
 * //\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\
 */
body {
	font-family: "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Georgia", sans-serif;
}

.strong {
	font-weight: bold;
}

/**
 * //\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\
 * Differents Backgrounds
 * //\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\
 * Background Default
 */
.background-default {
	min-height: 100vh;
	background-image: url(/img/background-02.jpg);
	background-repeat: none;
	background-size: 100%;/*
	background-attachment: fixed;*/
	background-repeat: no-repeat;
	background-position: top;
	background-color: #fff;
}
/**
 * Background Ticketing
 */
.background-ticketing {
	min-height: 100vh;
	background-color: #331107;
}

.page-container {
	color: #ccc;
	border-radius: 0em 0em 1em 1em;
}

header {
	background-color: #222;
	height: 105px;
}


/**
 * //\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\
 * User Nav
 * //\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\
 */
.user-nav {
	height: 24px;
	font-size: 0.7em;
	padding: 0;
}

.user-nav .nav-pills > li + li {
	margin-left: 0;
}

.user-nav .nav li a {
	padding: 3px;
}

.user-nav .nav-pills li a {
	border-radius: 0px;
	color: #fff;
}

.nav li a.user-nav-item-connexion {
	background-color: #23c0d7;
}
.nav li a.user-nav-item-languages {
	background-color: #c82d00;
}

.nav li a:hover.user-nav-item-languages {
	background-color: #ff511e;
}


/**
 * //\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\
 * Logo Area and nav
 * //\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\
 */

.logo-and-nav {
	height: 55px;
	display: flex;
	align-items: center;
	color: #fff;
	padding-left: 0px;
}

.home-logo {
	margin-right: 1em;
}

nav {
	background-color: #222;
}

.nav-item {
	text-transform: uppercase;
	font-family: "Georgia", sans-serif;
	font-size: 0.8em;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: nowrap;
}

.logo-and-nav .nav li a, .logo-and-nav .nav li a:visited {
	color: #fff;
	padding: 6px;
}

.logo-and-nav .nav:hover li a:not(.nav-item-ticketing) {
	color: #808080;
}

.logo-and-nav .nav:hover li a:hover:not(.nav-item-ticketing), .logo-and-nav .nav li a:active {
	color: #fff;
	background-color: rgba(255,255,255,0);
}
.logo-and-nav nav a.nav-item-ticketing, .logo-and-nav nav a:visited.nav-item-ticketing {
	background-color: #ff0000;
}

.logo-and-nav nav a:hover.nav-item-ticketing, .logo-and-nav nav a:active.nav-item-ticketing {
	background-color: #fff;
}
.logo-and-nav nav a:hover span {
	color: #ff0000;
}

.logo-and-nav nav li a.nav-item-ticketing {
	padding:10px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}


/**
 * //\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\
 * ERRORS PAGES
 * //\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\
 */
.panel-error {
	margin-top: 10vh;
}
.btn-list-error {
	margin-top: 5em;
}

/**
 * //\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\
 * HOME PAGE
 * //\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\
 */
/**
 * Carousel
 */
.block-carousel {
	background-color: #000;
}
.carousel-img {
	width: 100%;
	max-height: 450px;
}
.block-body {
	min-height: 20em;
	background-color: #fff;
	color: #000;
	padding: 0em; /*1em*/
	font-size: 0.9em;
}
.block-body p, .block-body label, .block-body .table {
	color: #4E4E4E;
}
.block-body a {
	color: #999;
}
footer {
	min-height: 5em;
	background-color: #222;
	color: #fff;
	padding: 1em;
	font-size: 0.7em;
	border-top: 2px solid #666;
}
/**
 * Welcome Block 
 */
.welcome-block {
	background-color: #222;
	color: #fff;
	padding: 1em;
}
/**
 * Blocs image
 */
.block-img-home {
	min-height: 230px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}
.img-01 {
	background-image: url('/img/home/home-bloc-01.jpg');
}
.img-02 {
	background-image: url('/img/home/home-bloc-02.jpg');
}
.img-03 {
	background-image: url('/img/home/home-bloc-03.jpg');
}
.img-11 {
	background-image: url('/img/home/home-bloc-11.jpg');
}
.img-12 {
	background-image: url('/img/home/home-bloc-12.jpg');
}
.img-13 {
	background-image: url('/img/home/home-bloc-13.jpg');
}
.img-ticketing {
	background-image: url('/img/home/home-bloc-ticketing.jpg');
}
.welcome-block>div {
	padding: 15px 0;
}
/**
 * home content
 */
.home-content {
	padding: 15px 0;
}


/**
 * //\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\
 * TICKETING BUNDLE
 * //\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\
 */
/**
 * Thread
 */
.thread {
	background-color: #c82d00;
	font-size: 0.8em;
	color: #fff;
	max-height: 25px;
	display: inline-block;
	line-height: 25px;
}

.thread-item-home {
	margin-left: 1em;
}

.thread-item-separator {
	background-image: url("/img/crumb-separator.png");
	background-repeat: no-repeat;
	background-position-x: left;
	margin-left: -0.5em;
	padding-left : 1.5em;
	padding-right: 1em;
}
.thread-item-separator:before {

}

.thread-item, .thread-item:visited {
	color: #fff;
	text-decoration: none;
}

.thread-item:hover, .thread-item:active {
	color: #fff;
	text-decoration: none;
}

/**
 * 
 */
.ticketing-home-form {
	padding-right: 0;
	padding-left: 0;
}
.ticketing-home-title {
	background-color: #4e4e4e;
	padding: 0.1em 1em 0.1em 1em;
	color: #fff;
	min-height: 3.6em;
	display: flex;
	align-items: center;
}
.ticketing-home-title h4 {
	font-family: "Arial", sans-serif;
}
.title-underline {
	border-bottom: 2px solid #ccc;
}
.ticketing-home-basket-title {
	background-color: #c82d00;
}
.ticketing-home-basket {
	padding: 1em;
	background-color: #c82d00;
	font-size: 0.8em;
}
.ticketing-home-basket p {
	background-color: #fff;
	color: #000;
}
.ticketing-home-info {
	font-size: 0.8em;
	padding: 1em;
	color: #fff;
}
.ticketing-home-info p {
	color: #fff;
}
.ticketing-home-info .list-group {
	margin-bottom: 0;
}
.ticketing-home-info li b {
	font-size: 1em;
}
.ticketing-home-info li span {
	background-color: #4e4e4e;
	color: #fff;
}
.ticketing-home-info li {
	background-color: #222;
	border: 0;
	padding: 0.5em 0;
}
.ticketing-home-info ul li:not(:first-child) {
	border-top: 1px dashed #666;
}

/**
 * Forms
 */

.btn-form-action, .btn-form-action:visited {
	color: #fff;
	background-color: #c82d00;
	border-color: #b42c05;
}

.btn-form-action:hover, .btn-form-action:active {
	color: #fff;
	background-color: #ff511e;
	border-color: #ec4a1a;
}
.form-horizontal .form-group {
	margin-left: 0px;
	margin-right: 0px;
}
.ticketing-form {
	padding-top: 1em;
}
.ticketing-form .form-group {
	margin-bottom: 0;
}
.ticketing-form .btn, .btn {
	/*margin-bottom: 1em;*/
	margin: 0.2em 0.2em 0.2em 0;
	padding: 3px 12px;
	font-weight: bold;
	font-size: 0.9em;
}
.ticketing-form-title {
	margin-top: 1em;
	margin-right: -15px;
	margin-left: -15px;
}
.help-block ul li {
	color: #c82d00;
}
.help-block + input {
	background-color: #f2dede;
}

/**
 * Aside
 */
.ticketing-home-aside {
	padding-right: 0;
	padding-left: 0;
	background-color: #222;
}


.ticketing-content {
	padding: 2em;
}

.ticketing-invoice {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.ticketing-invoice {
	border: none;
}

.highlight {
	font-weight: bold;
	color: #c82d00;
}

.ticketing-invoice-important {
	font-size: 1.2em;
}

.ticketing-invoice .table tr td {
	border-top: none;
	padding: 4px;
}

.border-top-solid {
	border-top: 1px solid #ccc;
}

.border-top-dashed {
	border-top: 1px dashed #ccc;
}

.border-bottom-dashed {
	border-bottom: 1px dashed #ccc;
}

.table .ticketing-rate-case {
	vertical-align: middle;
	text-align: right;
	font-size: 1.2em;
	min-width: 4em;
}

.ticketing-invoice h6 {
	font-family: inherit;
}
.ticketing-invoice .alert {
	padding: 5px;
	margin: 0;
}

.ticketing-invoice .btn {
	margin: 0;
}